* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main, header {
    width: 100vw;
}

header {
    height: 8vh;
    width: 100%;
    background-color: #4285d7;
}

header > div {
    color: #1b3262;
    width: 98%;
    height: 100%;
    margin: auto;

    display: flex;
    align-items: center;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
}

main {
    height: 90vh;
}

.grid-container {
    width: 100%;
    height: 72vh;
    background-color: #404040;

    display: flex;
    align-items: center;
}

#grid {
    margin: auto;
    background-color: red;
}

.controls-container {
    width: 100%;
    height: 20vh;

    background-color: #2e2d2d;

    position: relative;
}

.controls {

    width: 55%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button {
    cursor: pointer;

    font-family: monospace;
    font-size: calc(1.25rem + 0.2vw);
    border: none;

    background-color: #2A4E97;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.3);
    color: white;
    border-radius: 40px;

    transition: all 250ms ease;
}

.button:hover {
    transform: scale(1.1);
}

#play-btn {
     padding: calc(1.25rem  + 0.5vw) calc(5rem + 0.75vw);
      margin-right: 1.25rem;
}

#clear-btn {
    padding: calc(1rem + 0.25vw) calc(2.5rem + 0.65vw);
}

@media only screen and (max-width: 773px) {
    #play-btn {
        margin-right: 0;
        margin-bottom: 0.75rem;
    }
}

@media only screen and (max-width: 440px) {
    #play-btn {
        padding: calc(0.5rem + 0.25vw) calc(5rem + 0.75vw);
    }
}